nav{
  margin-bottom:20px;
}

.row{
  margin-bottom:0px;
}


thead{
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  
body{
  font-size: 12px;
}

th{
  width: 20%;
}

td{
  width: 20%;
}
  
}