nav{
  margin-bottom:20px;
}

.row{
  margin-bottom:0px;
}






.carga{
  background-color: green;
  position:absolute;
}

@media (min-width: 320px) and (max-width: 480px) {
  
body{
  font-size: 12px;
}
  
}